body {
  background-color: lightblue;

}

hr{
  width: 5%;
 border: 4px dotted;
 border-style: dotted none none;
 color: grey;
}

img.front{
  height: 100px;
  width: 600px;
}

img.profile{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}



h1{
  font-family: cursive;
  color: blue;
}

h3{
    font-family: cursive;
    color: blue;
}
